/**
 * Custom variables, including Bootstrap overrides
 **/

/** Bootstrap overrides **/

// Colors
$primary: #10265f;
$secondary: #fcd900;
$text-muted: #7b8aae;
$light: #a7baec;

$body-bg: #f8f9fa;
$body-color: $primary;

$accordion-icon-color: $secondary;
$accordion-icon-active-color: $secondary;

.btn-secondary {
  color: $body-color;
}

// Other variables
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  fhd: 1920px,
  rt: 2560px,
);
$grid-row-columns: 16;

/** Custom variables **/

// Colors
$outline: #4b3c8a;

// Other variables
$sidebar-width: 260px;
