/**
 * Custom variables, including Bootstrap overrides
 **/

/** Custom variables **/

// Colors
$outline: #4b3c8a;

// Other variables
$sidebar-width: 260px;

/** Bootstrap overrides **/

// Colors
$primary: #10265f;
$secondary: #fcd900;
$success: #45cc69;
$text-muted: #7b8aae;
$light: #a7baec;

$body-bg: #f8f9fa;
$body-color: $primary;

$accordion-icon-color: $secondary;
$accordion-icon-active-color: $secondary;

.btn-secondary {
  color: $body-color;
}
$btn-close-color: $text-muted;
$btn-close-focus-shadow: none;

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  fhd: 1920px,
  rt: 2560px,
);
$grid-row-columns: 16;

// Modal
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$modal-content-border-radius: 0.7rem;
$modal-content-border-color: rgba($outline, 0.5);

// Other variables
$dropdown-min-width: 0;
$dropdown-link-active-color: $primary;
$dropdown-link-active-bg: $secondary;
$form-color-width: 100%;
$input-group-addon-bg: transparent;
$input-focus-box-shadow: none;
$tooltip-bg: $secondary;
$tooltip-color: $primary;
$tooltip-border-radius: 0.5rem;
