/**
 * Global App styles
 **/

body {
  height: 100vh;
  margin: 0;
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.content {
  @include media-breakpoint-up(md) {
    margin-left: $sidebar-width;
  }
}

.font-logo {
  font-family: $font-family-secondary;
}

.btn-secondary {
  color: $body-color;
}
